@import '../../../../styles/Colors'

.search
  display: flex
  column-gap: 5px
  background-color: $title-background
  padding: 5px
  border-radius: 4px
  .input
    flex: 27%
    background-color: #fff
    color: #333
    margin-bottom: 0
    outline: none
    &::placeholder
      color: #333
  .button
    flex: 19%
    height: 40px

@media (max-width: 680px)
  .search
    flex-wrap: wrap
    row-gap: 5px
    .input
      flex: calc(50% - 3px) 0
      &:nth-child(1)
        flex: 100% 0
        
